# Dependencies and build outputs
node_modules/
dist/videos/
.cache/
.vite/

# Environment / secrets
.env
*.env.local
REFLESHTOKEN.md
client_secret_95388533498-0lhg4qgsifaq1n2gt794ejbegjv4jaif.apps.googleusercontent.com.json

# OS/editor noise
.DS_Store
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
